.dark-mode-toggle {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.dark-mode-toggle:hover {
  background-color: #555;
}

.App.dark-mode {
  background-color: #121212;
  color: #ffffff;
}
